.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
}

.recipes__title {
  color: #fff;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  left: 80px;
}

.recipes__subtitle {
  color: #fff;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 176px;
  left: 80px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  margin-top: 300px;
  margin-bottom: 215px;
  padding: 0;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 480px;
}

.recipes__iframe {
  width: 100%;
  border: 0;
  height: auto;
  aspect-ratio: 16 / 9;
}

.recipes__video-caption {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipes__video-title {
  margin: 0;
  padding: 0;
}

.recipes__video-time {
  margin: 0;
  padding: 0;
}
